/************ Global ************/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    /*font-family: 'Open Sans', sans-serif;*/
    /*padding-top: 60px;
    padding-bottom: 60px;*/
    /*background-color: #ececec;*/
    /*background-color: #f1f2f7;*/
    /*height: 100%;*/
    color: #333;
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    position: relative;
    padding-top: 120px;
}

html,
body {
  /*height: 100%;*/
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
    outline: 0;
}

ul {
    list-style-type: none;
}

.form-input:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}

input {
    outline: none;
}

/*::-moz-selection {
    background: #fbb333;
    color: #fff;
}

::selection {
    background: #fbb333;
    color: #fff;
}*/

/**********************************/

/************* Navbar *************/
.navbar {
    background: #222d31;
    height: 50px;
    margin-bottom: 0;
    -webkit-box-shadow: 0 1px 11px 1px #c7c7c7;
    box-shadow: 0 1px 11px 1px #c7c7c7;
}

.navbar-name {
    display: inline-block;
    height: 49px;
    padding: 15px;
    background: #2578aa;
    color: #fff;
}

/*.navbar-brand {
    padding-left: 65px;
    font-size: 16px;
    background: #2578aa;
}

.navbar-default .navbar-brand {
    color: #fff;
}*/

@media screen and (max-width: 767px) {
    .navbar-header {
        display: inline-block;
    }
}

/**********************************/

/******* Background Banner ********/
.background-banner {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 380px;
    background-color: #e7e9ed;
    overflow: hidden;
}

.fade-in {
    opacity: 0;
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 700ms;
    animation-duration: 700ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/**********************************/

/************** Main **************/
.main {
    position: relative;
    -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
    background: #fff;
    /*top: 120px;*/
    padding: 40px 20px;
    border-radius: 2px;
}

@media screen and (max-width: 767px) {
    .main {
        margin: 0 15px;
    }
}

.fade-in-up {
    opacity: 0;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 700ms;
    animation-duration: 700ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: fade-in-up;
    animation-name: fade-in-up;
}

@-webkit-keyframes fade-in-up {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px) rotate3d(0, 0, 1, 18deg);
        transform: translateY(100px) rotate3d(0, 0, 1, 18deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px) rotate3d(0, 0, 1, 8deg);
        transform: translateY(100px) rotate3d(0, 0, 1, 8deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Header */
.main-header {
    text-align: center;
}

.main-header img {
    /*display: block;*/
    width: 115px;
    /*margin: 0 auto;*/
}

.main-header h1 {
    /*font-size: 44px;*/
    font-size: 24px;
}

.main-header p {
    font-size: 14px;
}

/* Three Stats */
.three-stats-wrapper {
    margin-top: 40px;
}

/*.stat-card {
    border-top: 3px solid #76c2af;
    -webkit-box-shadow: 12px 15px 20px 0 rgba(46,61,73,.15);
    box-shadow: 12px 15px 20px 0 rgba(46,61,73,.15);
    border-radius: 6px;
    padding: 15px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}*/

.stat-card {
    border-top: 3px solid #00bcd4;
    -webkit-box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
    box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
    border-radius: 6px;
    padding: 15px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

/*.stat-card:hover {
    -webkit-box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
    box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
}*/

@media screen and (max-width: 767px) {
    .three-stats-wrapper {
        margin-top: 25px;
    }

    .stat-card {
        margin-top: 25px;
    }
}

/* Graph Sections */
.section {
    margin-top: 40px;
}

.graph-head {
    font-size: 17px;
    font-weight: bold;
}

.graph-row {
    margin-top: 40px;
}

.graph-desc {
    margin-top: 30px;
    font-size: 13px;
}


/* Table */
.spendings-table {
    margin-left: auto;
    margin-right: auto;
}

.spendings-table caption {
    text-align: center;
    font-size: 12px;
}

.spendings-table th,
.spendings-table td {
    padding: 10px;
}

.spendings-table th {
    /*color: rgb(141, 106, 159);*/
    color: rgb(125, 125, 125);
    font-weight: normal;
}

.spendings-table td {
    border-right: 1px solid rgba(118, 194, 175, 0.5);
    border-bottom: 1px solid rgba(118, 194, 175, 0.5);
    -webkit-transition: 0.4s;
    transition: 0.4s
}

.spendings-table td {
    color: #0091A5;
}

.spendings-table td:first-of-type {
    border-bottom: 0;
    border-right: 0;
    /*color: rgb(141, 106, 159);
    font-weight: bold;*/
    color: rgb(125, 125, 125);
}

.spendings-table td:last-of-type {
    border-right: 0;
}

.spendings-table tr:last-of-type td {
    border-bottom: 0;
}

.spendings-table .border-right-null {
    border-right: 0;
}

.spendings-select {
    border: 0;
    border-bottom: 2px solid rgb(0, 131, 143);
    /*border: 1px solid rgb(0, 131, 143);*/
    /*border-radius: 3px;*/
    /*margin-left: 5px;*/
}

.travel-td,
.hotel-td {
    display: none;
}

td.max-spend {
    font-weight: bold;
    /*color: rgb(232, 141, 103);*/
    color: #00838F;
}

td.min-spend {
    font-weight: bold;
    /*color: rgb(173, 215, 246);*/
    color: #80DEEA;
}

@media screen and (min-width: 1201px) {
    canvas.graph {
        height: 275px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    canvas.graph {
        height: 225px;
    }
}

@media screen and (max-width: 991px) {
    canvas.graph {
        height: 225px;
    }
}

.year-select {
    border: 0;
    border-bottom: 2px solid #00bcd4;
    font-weight: normal;
    font-size: 13px;
}

/**********************************/

/************* Footer *************/
footer {
    margin-top: 50px;
    text-align: center;
    font-size: 13px;
    padding: 10px;
}

/**********************************/
